@using Microsoft.AspNetCore.Identity
@using QuanLyBanHang.Data.Entities

@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <div class="dropdown">
        <a class="btn me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a></li>
        </ul>
    </div>

}