@using Microsoft.AspNetCore.Identity
@using QuanLyBanHang.Data.Entities

@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager
@{
    var user = UserManager.GetUserAsync(User);
}
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/xem-san-pham">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="~/xem-gio-hang">Cart</a>
    </li>
}